@use postcss-nested;

button {
  &:hover {
    transform: scale(1.01);
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    transform: scale(0.99);
  }
}

.check-svg {
  animation: svgScale 0.5s ease-in-out;
}
.download-arrow {
  transition: transform 0.2s linear;
}
button:hover .download-arrow {
  transform: scale(1.2) translate(-3px);
}

@keyframes svgScale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }
}

.t2download-loader {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  animation: t2button-loading-spinner 0.5s ease 3;
}
@keyframes t2button-loading-spinner {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }

  to {
    transform: rotate(1turn);
    opacity: 0;
  }
}
.button-copy {
  padding-top: 2px;
}
